@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype'); /* Adjust the path as necessary */
    font-weight: 400;
    line-height: 218.8px;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora-Regular.ttf') format('truetype'); /* Adjust the path as necessary */
  }